.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  font-size: 44px;
  height: 123px;
}
footer {
  height: 90px;
}

main {
  flex: 1;
}

body {
  margin: 0;
}

header {
  background: linear-gradient(#D9D9D9 60%,#8EBBE5);
}

main {
  background-color:#8EBBE5;
}

footer {
  background-color: #D9D9D9;
  color:black;
  font-size: 24px;
}

.Group_3{
  width: 740px;
  height: 148px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  padding: 10px; 
  border-radius: 63px; 
}

progress {
  width: 780px;
  height: 72px;
  border: none;
  border-radius: 12px;
  background: #1265B1;
  border-color: #1265B1;
}

progress::-moz-progress-bar {
  border-radius: 12px;
  background: #1265B1;
}

progress::-webkit-progress-value {
  border-radius: 12px;
  background: #1265B1;
}

progress::-webkit-progress-bar {
  border-radius: 12px;
  background: #D9D9D9;
}
.font_check{
  font-size: 40px;
  text-align: center;
}
.powered_by{
  width: 500px;
  width: 72%;
  float: left;
}
.imgs{
  width: 18%;
  height: 74px;
  margin-left: auto;
  margin-top: 15px;
  float: right;
}
.img_tg{
  height: 100%;
  width: 25%;
  float: left;
}
.img_whatapp{
  height: 100%;
  width: 25%;
  float: left;
}
.img_instagram{
  height: 100%;
  width: 25%;
  float: right;
}
.img_facebook{
  height: 100%;
  width: 25%;
  float: right;
}