{% load static %}
<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'js/app.js' %}" defer></script>
</head>
<body>

  <section class="layers">
    <div class="layers__container">
      <div class="layers__item layer-1" style="background-image: url({% static 'img/layer-back.png' %});"></div>
      <div class="layers__item layer-2" style="background-image: url({% static 'img/layer-middle.png' %});"></div>
      <div class="layers__item layer-3">
        <div class="hero-content">
          <h1>Проверка документа на  <span>  соответствие ГОСТу </span></h1>
          <div class="hero-content__p"></div>
          <a href="{% url 'checking:upload_file' %}" class="button-start" style="text-decoration: none">Начать</a>
        </div>
    </div>
    <div class="layers__item layer-4" style="background-image: url({% static 'img/layer-front.png' %});"></div>
    </div>
  </section>

 <div style="height: 100vh;"></div>
  
</body>
</html>