html, body {margin: 0; height: 100%; overflow: hidden}
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

header{
  font-size: 44px;
  height: 15%;
  background: linear-gradient(#e0f2f7 60%,#8EBBE5);
}
footer {
  height: 10%;
  background-color: #e0f2f7;
  color:black;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  background-color:#8EBBE5;
  margin: 0;
  height: 75%;
}

.powered_by{
  margin: 0 30px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.imgs{
  float: right;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

img {
    width: 50px;
    height: 50px;
    margin: 7px;
}

.logo {
 color: black;
 text-decoration: none;
 margin: 5px 15px;
}